.body {
    height: 100%;
    background-color: #F4F5DD;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.greetings {
    font-family: "Inknut Antiqua";
    font-weight: 100;
    font-size: 56px;
}

.loading {
    width: 200px;
    height: 4px;
    background: linear-gradient(90deg, #afb187, #9B5E08, #afb187);
    background-size: 800% 100%;
    animation: gradientMotion 1.2s ease infinite;
}

@keyframes gradientMotion {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}