@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

:root {
  /* Cores Primárias */
  --p-col: #9b5e08;
  --p-light-col: #BA7B1A;
  --p-dark-col: #673F05;

  /* Cores Secundárias */
  --s-col: #979e1b;
  --s-light-col: #AFB187;
  --s-dark-col: #63644c;

  /* Cores de Fundo */
  --bg-col: #F4F5DD;
  --bg-dark-col: #D1D2B2;

  /* Cores de Texto */
  --text-col: #333333;
  --text-light-col: #777777;
  --text-dark-col: #252525;
  --text-inverse-col: #FFFFFA;

  /* Espaçamentos */
  --sp-sm: 8px;
  --sp-md: 16px;
  --sp-lg: 24px;
  --sp-xlg: 32px;

  /* Tamanhos de Fonte */
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xlg: 1.5rem;

  /* Fontes */
  --ff-prim: 'Oxygen', 'Helvetica', 'Arial', sans-serif;
  --ff-sec: 'Inknut Antiqua', 'Times New Roman', Georgia, serif;

  /* Sombras */
  --shadow-box: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-text: 0px 1px 3px rgba(0, 0, 0, 0.2);

  /* Cores de Ações (Botões, Links, etc.) */
  --btn-p-col: var(--p-col);
  --btn-s-col: var(--s-col);
  --btn-hover-p-col: var(--p-light-col);
  --btn-hover-s-col: var(--s-light-col);
  --link-col: var(--p-col);
  --link-hover-col: var(--p-dark-col);
}

html {
  scroll-behavior: smooth;
}

.app-box {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

/* :root {
  --color-primary: #F1F1F1;
  --color-primary-50op: rgba(241, 241, 241, 0.5);
  --color-secondary: #252525;
  --color-tertiary: #77AC78;
  --color-accent: #DBFF7A;
  --ff: 'Inter', sans-serif;
  --h1: 600 16px/20px var(--ff);
  --h2: 600 12px/16px var(--ff);
  --h3: 700 20px/24px var(--ff);
  --p: 400 14px var(--ff);
  --transition: 0.3s transform;
  --shadow-style: rgba(0, 0, 0, 0.25);
  --shadow: 1px 1px 5px 0px var(--shadow-style);
  --shadow-top: 0px -1px 5px 0px var(--shadow-style);
  --shadow-bottom: 0px 1px 5px 0px var(--shadow-style);
  --shadow-right: 1px 0px 5px 0px var(--shadow-style);
  --shadow-spread: 0px 0px 5px 1px var(--shadow-style);
} */

/* h1 {font: var(--h1);}
h2 {font: var(--h2);}
h3 {font: var(--h3);}
p,
pre {font: var(--p);}

h1,
h2,
h3,
p,
pre {color: var(--color-secondary);} */