.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--sp-xlg);
  margin-bottom: var(--sp-xlg);
  background-color: var(--bg-col);
  min-height: calc(100vh - 172px);
}

.contact-page h1 {
  margin-bottom: var(--sp-lg);
  font-size: var(--fs-xlg);
  color: var(--text-col);
  text-align: center;
  font-family: var(--ff-sec);
  font-weight: lighter;
}

.contact-page form {
  background-color: var(--text-inverse-col);
  padding: var(--sp-lg);
  border-radius: 8px;
  box-shadow: var(--shadow-box);
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--sp-md);
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: var(--sp-sm);
  font-weight: bold;
  color: var(--text-dark-col);
}

.form-group input,
.form-group textarea {
  padding: var(--sp-sm);
  border: 1px solid var(--s-light-col);
  border-radius: 8px;
  font-size: var(--fs-body);
}

.form-group textarea {
  min-height: 100px;
  resize: none;
}

button[type="submit"] {
  background-color: var(--btn-p-col);
  color: var(--text-inverse-col);
  font-size: var(--fs-md);
  padding: var(--sp-sm) var(--sp-md);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color var(--transition);
}

button[type="submit"]:hover {
  background-color: var(--btn-hover-p-col);
}

.error-message {
  color: var(--error-col);
  margin-bottom: var(--sp-md);
  text-align: center;
}