.item-list-box {
    background-color: var(--bg-col);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--sp-md);
    padding: var(--sp-md);
}

.item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-dark-col);
    border-radius: 8px;
    width: 200px;
    height: auto;
    padding: var(--sp-sm);
    gap: var(--sp-sm);
}

.item-img img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.item-name {
    display: flex;
    align-self: flex-start;
    font-family: var(--ff-prim);
    font-weight: normal;
    font-size: var(--fs-md);
}

.item-price-actions {
    display: flex;
    width: 100%;
    height: auto;
}

.item-price {
    display: flex;
    justify-content: flex-start;
    font-family: var(--ff-prim);
    font-weight: lighter;
    font-size: var(--fs-sm);
    height: auto;
}

.item-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.item-stock {
    display: none;
}

@media screen and (max-width: 700px) {
    .item {
        width: 152px;
    }

    .item-img {
        width: auto;
        height: auto;
    }

    .item-name {
        font-size: var(--fs-xsm);
    }
}