.item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d2b2;
    border: 1px black;
    border-radius: 8px;
    width: 200px;
    min-height: 312px;
    padding: 8px;
}

.item-img {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #afb187;
    border: 1px black;
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

.item-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


.item-name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    font-family: "Oxygen";
    font-weight: normal;
    font-size: medium;
}

.item-price-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.item-price {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-family: "Oxygen";
    font-weight: bold;
    font-size: small;
    height: 100%;
    padding-top: 8px;
}

.item-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}