.actions {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: flex-end;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    font-size: 24px;
    color: #673f05;
    background-color: var(--btn-p-col);
}

.button:hover {
    background-color: var(--btn-hover-p-col);
}

.button:disabled {
    color: var(--btn-disable-p-col);
    background-color: var(--btn-disable-s-col);
}

.buttonAdd {
    display: flex;
    order: 2;
    align-self: center;
}

.buttonSubtract {
    display: flex;
    order: 0;
}

.buttonConfirm {
    order: 3;
    font-family: var(--ff-prim);
    background-color: var(--btn-s-col);
    color: var(--text-col);
    font-size: var(--fs-md);
    font-weight: 400;
    width: 176px;
    padding: var(--sp-sm);
    border-radius: var(--sp-sm);
}

.buttonConfirm:hover {
    background-color: var(--btn-hover-p-col);
}

.itemsInCart {
    display: flex;
    justify-content: center;
    order: 1;
    color: #252525;
    text-align: center;
    font-family: var(--ff-prim);
    font-size: var(--fs-md);
    width: 32px;
}

.stock {
    display: none;
    color: #252525;
    text-align: center;
    font-family: var(--ff-prim);
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    justify-content: center;
    padding-top: 8px;
    background-color: pink;
}

.add-cart {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 176px;
    height: 40px;
    background-color: #e9ead7;

}