.item-list-container-box {
    min-height: calc(100vh - 80px);
    background-color: #F4F5DD;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.categories {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 16px;
}

.category-button {
    display: flex;
    font-family: var(--ff-sec);
    background-color: var(--bg-dark-col);
    padding: 0 8px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text-dark-col);
}

.button:hover {
    color: var(--link-hover-col)
}
